*.dll
*.exe
*.mdb
*.pc
*.pidb
*.userprefs
*.usertasks
.DS_Store
Makefile
Makefile.in
TestResult.xml
aclocal.m4
autom4te.cache/
config.log
config.status
configure
install-sh
missing
obj
src/Mono.Upnp.Dcp/Mono.Upnp.Dcp.MediaServer1/Mono.Upnp.Dcp.MediaServer1.FileSystem.ConsoleServer/mono-upnp-simple-media-server
src/Mono.Upnp/Mono.Upnp.GtkClient/mono-upnp-gtk
test-results/
